---
---
@charset "utf-8";

$primary: #219AB3;
$dark: #000;
$light: #777;
$lightest: #fefefe;
$bg: #F2F2F2;


// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * .875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

$navbar-bg: #fefefe;
$navbar-link-color: #eee;

$twitter-color: #55acee;
$facebook-color: #3b5998;
$google-plus-color: #dd4b39;
$linkedin-color: #007bb5;

$border-light-color: #fff;
$post-border-color: #444;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Open+Sans:300,400,600,700,300italic,400italic,600italic,700italic);

@import 'espi';
@import "syntax-highlighting";
