<!-- Footer -->
<footer>
  <div class="container text-center">

    <p>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img
        alt="Creative Commons License" style="border-width:0;"
        src="https://licensebuttons.net/l/by-sa/3.0/88x31.png"></a></p>

    <p>This content is licensed with<a rel="license"
                                                     href="http://creativecommons.org/licenses/by-sa/3.0/">
    Creative Commons <i>"Attribution-ShareAlike 3.0 Unported"</i></a>. You can read <a
      href="http://creativecommons.org/licenses/by-sa/3.0/legalcode">full text</a>.</p>

    <p><a href="/condiciones-de-uso/">Site Conditions of Use</a></p></div>

</footer>

<p><br/><br/><br/></p>
