body {
  background-color: $bg;
  color: $dark;
  font-family: "Open Sans", "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  height: 100%;
  line-height: 1.6;
  width: 100%;
}

p,
li {
  font-family: "Open Sans", "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6;
}

html {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 35px;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 25px;
}

%vertical-rhythm {
  margin-bottom: 35px;
}

@media(min-width: 767px) {
  p,
  ul {
    font-size: 20px;
    line-height: 1.6;
    margin: 0 0 35px;
  }

  ul,
  ol,
  dl {
    font-size: 20px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  color: $primary;
  transition: all .2s ease-in-out;
  &:hover,
  &:focus {
    color: darken($primary, 20%);
    text-decoration: none;
  }
}

.light {
  font-weight: 400;
}

.navbar-custom {
  background-color: $navbar-bg;
  border-bottom: 1px solid fade($light, 30%);
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  .navbar-brand {
    font-weight: 700;
    &:focus {
      outline: none;
    }
  }
  .navbar-toggle {
    color: $dark;
    font-size: 16px;
    padding: 4px 6px;
    &:active,
    &:focus {
      outline: none;
    }
  }
  a {
    color: $light;
    transition: all .3s ease-in-out;
    &.active,
    &:focus,
    &:hover {
      background-color: fade($light, 30%);
      color: $light;
      outline: none;
    }
  }
  li {
    &.active {
      background-color: fade($light, 30%);
      outline: none;
    }
  }
}

@media(min-width: 767px) {
  .navbar {
    background: transparent;
    border-bottom: 0;
    letter-spacing: 1px;
    padding: 20px 0;
    transition: background .5s ease-in-out, padding .5s ease-in-out, color .5s ease-in-out;
  }

  .top-nav-collapse {
    background-color: rgba(64, 64, 64, .999);
    padding: 0;
    a {
      color: $light;
    }
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid fade($light, 30%);
  }
}

.intro {
  background: url('/img/intro-bg.jpg') no-repeat bottom center scroll;
  background-attachment: fixed;
  background-color: $bg;
  background-size: cover;
  color: $light;
  display: table;
  height: auto;
  padding: 100px 0;
  text-align: center;
  width: 100%;
  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      font-size: 40px;
    }

    .intro-text {
      font-size: 18px;
    }
  }
}

@media(min-width: 767px) {
  .intro {
    height: 100%;
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 100px;
      }

      .intro-text {
        font-size: 25px;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.content-section {
  padding-top: 100px;
}

@media(min-width: 767px) {
  .content-section {
    padding-top: 250px;
  }

  .download-section {
    padding: 100px 0;
  }
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

.btn-default {
  background-color: transparent;
  border: 1px solid $primary;
  color: $primary;
  &:hover,
  &:focus {
    background-color: $primary;
    border: 1px solid $primary;
    color: $dark;
    outline: none;
  }
}

footer {
  padding: 50px 0;
  div {
    max-width: 300px;
  }
  p {
    font-size: .8em;
    margin: 0;
  }
}

::selection {
  background: fade($light, 20%);
  //text-shadow: none;
}

img::selection {
  background: transparent;
}

.blog-post img {
  border: 7px solid $light;
  border-radius: 100%;
  display: block;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  transition: all .51s;
  width: 200px;
}

.blog-post img:hover {
  border-radius: 0;
  height: 100%;
  width: 100%;
}

.home {
  .navbar-custom {
    a {
      color: $navbar-link-color;
    }

    a:hover {
      color: $light;
    }
  }

  .top-nav-collapse {
    a {
      color: $light;
    }
  }
}

.page-navigation {
  display: block;
  font-size: 14px;
  overflow: hidden;
  padding-top: 100px;
  text-align: center;
  width: auto;

  a {
    font-size: 1.3em;
    margin: 1em;
  }
}

.social-share,
.next,
.prev {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.next {
  color: $light;
}

.prev {
  color: lighten($light, 25%);
}

.social-share {
  padding-bottom: 30px;
  text-align: center;

  .fa-twitter-square {
    color: $twitter-color;
  }
  .fa-facebook-square {
    color: $facebook-color;
  }
  .fa-google-plus-square {
    color: $google-plus-color;
  }
  .fa-linkedin-square {
    color: $linkedin-color;
  }

  i {
    transition: all .3s ease-in-out;
    &.active,
    &:focus,
    &:hover {
      background-color: fade($light, 0);
      color: $light;
      outline: none;
    }
  }
}

.my-social {
  margin: 0 0 35px;
  img {
    border: 4px solid $border-light-color;
    border-radius: 100%;
    height: 70px;
    margin: 0 auto;
    overflow: hidden;
    transition: all .51s;
    width: 70px;
  }
}

.latest-post-more {
  margin-top: -35px;
  text-align: right;
}

iframe {
  border: 0;
  display: block;
  margin: 0 auto;
  padding: 0;
}

