<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  {% include navigation.html %}

  <section id="{{ page.title }}" class="container content-section blog-post">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <h1 class="text-center"><strong>{{ page.title }}</strong></h1>
        <h4 class="text-center">by <strong>_espi_</strong></h4>
      	<h4 class="text-center">
          <strong>{{ page.date | date_to_string }}</strong>
          <p><small>
            {% if page.tags %}
              {% for tag in page.tags %}
              <a href="/tag/{{ tag }}/">#{{ tag }}</a>
              {% endfor %}
            {% endif %}
            .
            <a href="{{ page.url }}#disqus_thread">Comments</a>
          </small>
          </p>
        </h4>

      	{{ content }}

      	{% include share.html %}

        {% include comments.html %}

      </div>
    </div>
  </section>

  <section id="post-navigation" class="container page-navigation">
      {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}"><i class="fa fa-chevron-left"></i> {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} <i class="fa fa-chevron-right"></i></a>
      {% endif %}
  </section>

  <section id="{{ page.title }}" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
	{% include social-buttons.html %}
      </div>
    </div>
  </section>




  {% include footer.html %}

  {% include js.html %}

  </body>
</html>
